<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>ACPI</key>
	<dict>
		<key>SSDT</key>
		<dict>
			<key>Generate</key>
			<dict>
				<key>PluginType</key>
				<true/>
			</dict>
		</dict>
		<key>AutoMerge</key>
		<true/>
		<key>DSDT</key>
		<dict>
			<key>Patches</key>
			<array>
				<dict>
					<key>Find</key>
					<data>X09TSQ==</data>
					<key>Replace</key>
					<data>WE9TSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _OSI to XOSI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>X0RTTQ==</data>
					<key>Replace</key>
					<data>WERTTQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change _DSM to XDSM</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>RUMwXw==</data>
					<key>Replace</key>
					<data>RUNfXw==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change EC0 to EC</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>SEVDSQ==</data>
					<key>Replace</key>
					<data>SU1FSQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change HECI to IMEI</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>R0ZYMA==</data>
					<key>Replace</key>
					<data>SUdQVQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change GFX0 to IGPU</string>
				</dict>
				<dict>
					<key>Find</key>
					<data>U0FUMA==</data>
					<key>Replace</key>
					<data>U0FUQQ==</data>
					<key>Disabled</key>
					<false/>
					<key>Comment</key>
					<string>change SAT0 to SATA</string>
				</dict>
			</array>
			<key>Fixes</key>
			<dict>
				<key>AddPNLF</key>
				<true/>
			</dict>
		</dict>
		<key>DropTables</key>
		<array>
			<dict>
				<key>Signature</key>
				<string>DMAR</string>
			</dict>
			<dict>
				<key>Signature</key>
				<string>MATS</string>
			</dict>
		</array>
		<key>FixHeaders</key>
		<true/>
	</dict>
	<key>Boot</key>
	<dict>
		<key>Secure</key>
		<false/>
		<key>NeverHibernate</key>
		<true/>
		<key>Debug</key>
		<false/>
		<key>Arguments</key>
		<string>dart=0 nv_disable=1 alcid=13 -nobiobeta -wegbeta igfxonln=1</string>
		<key>XMPDetection</key>
		<false/>
		<key>Timeout</key>
		<integer>5</integer>
		<key>DefaultVolume</key>
		<string>LastBootedVolume</string>
	</dict>
	<key>GUI</key>
	<dict>
		<key>PlayAsync</key>
		<true/>
		<key>Hide</key>
		<array>
			<string>#Windows</string>
			<string>#BOOTX64.EFI</string>
			<string>macOS</string>
			<string>#Preboot</string>
			<string>Recovery</string>
		</array>
		<key>Language</key>
		<string>en:0</string>
		<key>ScreenResolution</key>
		<string>1920x1080</string>
		<key>Scan</key>
		<dict>
			<key>Tool</key>
			<true/>
			<key>Entries</key>
			<true/>
			<key>Legacy</key>
			<false/>
			<key>Linux</key>
			<true/>
		</dict>
		<key>Mouse</key>
		<dict>
			<key>Speed</key>
			<integer>8</integer>
			<key>Enabled</key>
			<true/>
		</dict>
		<key>Theme</key>
		<string>ouija</string>
	</dict>
	<key>Devices</key>
	<dict>
		<key>SetIntelBacklight</key>
		<true/>
		<key>FakeID</key>
		<dict>
			<key>IntelGFX</key>
			<string>0x59168086</string>
		</dict>
		<key>Audio</key>
		<dict>
			<key>Inject</key>
			<integer>13</integer>
		</dict>
		<key>SetIntelMaxBacklight</key>
		<true/>
		<key>UseIntelHDMI</key>
		<false/>
		<key>Properties</key>
		<dict>
			<key>PciRoot(0)/Pci(0x02,0)</key>
			<dict>
				<key>AAPL,ig-platform-id</key>
				<data>AAAbWQ==</data>
				<key>device-id</key>
				<data>FlkAAA==</data>
				<key>framebuffer-con1-alldata</key>
				<data>AQUKAAAIAACHAQAAAgQKAAAIAACHAQAA/wAAAAEAAAAgAAAA</data>
				<key>framebuffer-con1-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-con2-enable</key>
				<data>AQUKAAAIAACHAQAAAwYKAAAEAACHAQAA/wAAAAEAAAAgAAAA</data>
				<key>framebuffer-fbmem</key>
				<data>AACQAA==</data>
				<key>framebuffer-patch-enable</key>
				<data>AQAAAA==</data>
				<key>framebuffer-stolenmem</key>
				<data>AAAwAQ==</data>
			</dict>
		</dict>
		<key>USB</key>
		<dict>
			<key>FixOwnership</key>
			<false/>
			<key>Inject</key>
			<false/>
		</dict>
	</dict>
	<key>DisableDrivers</key>
	<array>
		<string>Nothing</string>
	</array>
	<key>Graphics</key>
	<dict>
		<key>Inject</key>
		<dict>
			<key>ATI</key>
			<false/>
			<key>Intel</key>
			<true/>
			<key>NVidia</key>
			<false/>
		</dict>
		<key>ig-platform-id</key>
		<string>0x591b0000</string>
	</dict>
	<key>KernelAndKextPatches</key>
	<dict>
		<key>AppleRTC</key>
		<true/>
		<key>KernelPm</key>
		<true/>
		<key>KernelLapic</key>
		<true/>
		<key>KextsToPatch</key>
		<array>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2CController</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
			<dict>
				<key>Find</key>
				<data>SU9LaXQ=</data>
				<key>Name</key>
				<string>AppleIntelLpssI2C</string>
				<key>Replace</key>
				<data>SU9LaXM=</data>
				<key>Disabled</key>
				<false/>
				<key>Comment</key>
				<string>Prevent Apple I2C kexts from attaching to I2C controllers, credit CoolStar</string>
				<key>InfoPlistPatch</key>
				<true/>
			</dict>
		</array>
		<key>#FakeCPUID</key>
		<string>0x010676</string>
		<key>AppleIntelCPUPM</key>
		<true/>
		<key>KernelCpu</key>
		<false/>
	</dict>
	<key>RtVariables</key>
	<dict>
		<key>BooterConfig</key>
		<string>0x28</string>
		<key>CsrActiveConfig</key>
		<string>0x67</string>
	</dict>
	<key>SMBIOS</key>
	<dict>
		<key>BoardSerialNumber</key>
		<string>C02848902J9HWVPAD</string>
		<key>ProductName</key>
		<string>MacBookPro14,1</string>
		<key>SerialNumber</key>
		<string>C02XRQYKHV29</string>
		<key>SmUUID</key>
		<string>113894F4-E8D5-414D-A5C4-CB2EF6C51BBB</string>
	</dict>
	<key>SystemParameters</key>
	<dict>
		<key>InjectKexts</key>
		<string>Detect</string>
		<key>InjectSystemID</key>
		<true/>
	</dict>
	<key>Quirks</key>
	<dict>
		<key>SetupVirtualMap</key>
		<true/>
		<key>DisableIoMapper</key>
		<true/>
		<key>EnableSafeModeSlide</key>
		<true/>
		<key>AvoidRuntimeDefrag</key>
		<true/>
		<key>ProvideCustomSlide</key>
		<true/>
		<key>XhciPortLimit</key>
		<true/>
		<key>EnableWriteUnprotector</key>
		<true/>
	</dict>
</dict>
</plist>